NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
CRON_SECRET=
OPENAI_API_KEY=
REMOVE_BG_PROCESS_URL=http://127.0.0.1:4000/process
REMOVE_BG_VERIFY_TOKEN=

NEXT_PUBLIC_ESSENTIAL_PLAN_PRODUCT_ID=
NEXT_PUBLIC_ADVANCED_PLAN_PRODUCT_ID=
NEXT_PUBLIC_PROFESSIONAL_PLAN_PRODUCT_ID=
